form {
  display: flex;
  flex-direction: column;
  width: 15em;
  align-items: center;
  background-color: #f4efd4;
  border-radius: 50px;
  padding: 1%;
  margin-top: 5%;
}

form > label {
  text-align:left;
  padding:1pt;
}

form > input {
  padding: 1pt;
}

#contact-button {
  width:25%;
  margin: .5em;
}

#contact-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#message-header {
  min-width: 90%;
}
