body {
  background-color: rgb(1, 87, 87);
}

header {
  background-color: rgb(15, 26, 26);
  height: 50px;
  display:flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: nowrap;
}

nav > a {
  margin: auto;
  border: 3px solid darkgoldenrod;
  padding: 10px;
  border-radius: 50%;
  background-color:darkgoldenrod
}

nav {
  margin: auto;
  padding: 10px;
}