body {
  background-color: rgb(1, 87, 87);
}

header {
  background-color:darkslategray;
}

nav {
  display: flex;
}

#nav-links {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

#nav-fname {
  display: inline;
}