body {
  background-color: #aea06f;
}

header {
  background-image: url(./Images/bg2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100px;
  display: flex;
  align-items: center;
  border-style: solid;
  border-radius: 50px;
}

#nav-links {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-items: center;
}

nav > h1 {
  margin-left: 20px;
  font-size: xx-large;
}

nav > h1:hover {
  font-size: 40pt;
  transition: 3s;
}

.divider {
  border-top:5px solid black;
  border-radius: 50px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.button {
  margin: 10px;
  background-color:#f3a450;
  padding: 10px;
  border-radius: 50px;
  margin-right: 20px;
  display: flex;
  align-items: center;
}

.button:hover {
  background-color: #ee7d04;
  transition: 2s;
}

.button > a {
  color: black;
  text-decoration: none;
}

.button > a:hover {
  font-size: x-large;
  transition: 2s;
}

nav {
  display:flex;
  justify-content: space-between;
  flex-grow: 1;
  padding: 10px;
}

.content-box {
  background-color:#f4efd4;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 20px;
  border-radius: 50px;
}

.content-header {
  background-color: #6e8062;
  text-align: center;
  border-radius: 50px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding:10px;
}

#port1 {
  display: flex;
  justify-content: center;
  padding: 10px;
  align-items:center;
}

#port1 > img {
  height: 200px;
  length: 200px;
  padding:10px;
}

#port1 > h2 {
  padding:10px;
}

#port1 > p {
  padding:10px;
}

#port2 {
  display: flex;
  justify-content: center;
  padding: 10px;
  align-items:center;
}

#port2 > img {
  height: 240px;
  length: 240px;
  padding:10px;
}

#port2 > h2 {
  padding:10px;
}

#port2 > p {
  padding:10px;
}

#port3 {
  display: flex;
  justify-content: center;
  padding: 10px;
  align-items:center;
}

#port3 > img {
  height: 200px;
  length: 200px;
  padding:10px;
}

#port3 > h2 {
  padding:10px;
}

#port3 > p {
  padding:10px;
}

#home-heading {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  font-size: x-large;
}

#home-heading > img {
  height: 200px;
  length: 200px;
  margin-left: 50px;
  margin-right: 50px;
}

#home-body {
  text-align: center;
}

#quote {
  font-style: italic;
  text-align: center;
  margin-top: 50px;
  font-weight:bolder;
}

#quote2 {
  font-style: italic;
  text-align: center;
  margin-top: 10px;
  font-weight:bolder;
}

.quote-container {
  display:flex;
}