main  {
  display:flex;
  flex-direction:column;
  align-items: center;
  align-content: center;
}

#success-heading {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  font-size: x-large;
  min-width: 90%;
}

#success-heading > img {
  height: 200px;
  length: 200px;
  margin-left: 50px;
  margin-right: 50px;
}

#quote {
  font-style: italic;
  text-align: center;
  margin-top: 50px;
  font-weight:bolder;
}

#quote2 {
  font-style: italic;
  text-align: center;
  margin-top: 10px;
  font-weight:bolder;
}

#quote-container {
  display:flex;
  flex-direction: column;
  min-width: 90%;
}